[submodule "freetype"]
	path = freetype
	url = https://github.com/winlibs/freetype.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/behdad/harfbuzz.git
[submodule "harfbuzz-icu-freetype"]
	path = harfbuzz-icu-freetype
	url = https://github.com/frinkr/harfbuzz-icu-freetype.git
